<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off" monitorInterval="1800">
    <properties>
        <!--dir-->
        <property name="LOG_HOME">log</property>
        <!--filename-->
        <property name="FILE_NAME">jettySample</property>B
    </properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
        </Console>

        <RollingRandomAccessFile name="RollingLog"
                                 fileName="${LOG_HOME}/${FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${FILE_NAME}.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!--
                <SizeBasedTriggeringPolicy size="100 MB"/>
                -->
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>


    </Appenders>
    <loggers>
        <root level="INFO" includeLocation="true">
            <appender-ref ref="RollingLog"/>
            <appender-ref ref="Console"/>
        </root>
    </loggers>


</configuration>