<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--<property name="driver" value="${driver}"/>-->
                <!--<property name="url" value="${url}"/>-->
                <!--<property name="username" value="${username}"/>-->
                <!--<property name="password" value="${password}"/>-->
                <property name="driver" value="${jdbc.project.driver}"/>
                <property name="url" value="${jdbc.project.url}"/>
                <property name="username" value="${jdbc.project.username}"/>
                <property name="password" value="${jdbc.project.password}"/>
                <property name="poolMaximumActiveConnections" value="100"/>
                <property name="poolMaximumIdleConnections" value="5"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="${jdbc.project.poolPingQuery}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--         <mapper resource="mapping/UserSessionMapper.xml"/> -->
    </mappers>

</configuration>